@font-face {
    font-family: 'Tropiline Sans';
    src: url('/typographie/TropilineSans-Light.ttf')  format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Tropiline Sans';
    src: url('/typographie/TropilineSans-Bold.ttf')  format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Agrandir';
    src: url('/typographie/Agrandir-GrandHeavy.ttf')  format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('/typographie/MonumentExtended-Regular.ttf')  format('truetype');
    font-weight: 400;
}


body {
    margin: 0;
    padding: 0;
}

header {
    border-bottom: 1px solid #D8D4F2;
    position: relative;
    margin-bottom: -144px;
}

.logo {
    width: 117px;
    height: 117px;
    margin: auto;
}

.header-container, .navbar-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-branding {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    margin-top: 0;
    margin-bottom: 0;
}

.nav-item {
    margin: 0 42px;
}

.nav-link {
    font-family: 'Tropiline Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.home-hero {
    background-image: url('/media/textures/Texture-beige-desktop.png');
    height: 100vh;
    background-size: cover;
}

.center-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.container {
    height: 100%;
}

.title-1 {
    font-family: 'Agrandir';
    font-style: normal;
    font-weight: 800;
    line-height: 145%;
    font-size: 54px;
}

.hero-parqarqah {
    width: 580px;
    margin-top: 16px;
    margin-bottom: 52px;
}

.paragraph-1-scroll {
    font-family: 'Tropiline Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    width: auto;
}

.scroller {
    height: 32px;
    margin-left: 10px;
    width: 200px !important;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width: auto;
    font-family: 'Tropiline Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    transition: 1s;
}

.scroller > span {
    position: absolute;
    top: 0;
    animation: slide 8s infinite;
    font-weight: bold;

}
@keyframes slide {
    0% {
      top: 0;
    }
    25% {
      top: -1.2em;
    }
    50% {
      top: -2.4em;
    }
    75% {
      top: -3.6em;
    }
}

.paragraph-1 {
    font-family: 'Tropiline Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.8em;
}

.button-standart {
    font-family: 'Tropiline Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 45px;
    text-decoration: none;
    background-color: #D8D4F2;
    padding: 16px 48px;
    color: black;
    border: 2px solid #000000;
    border-radius: 70px;
    box-shadow: 5px 5px 1px 1px black;
    transition: .3s;
}

.button-standart:hover {
    font-family: 'Tropiline Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 45px;
    text-decoration: none;
    background-color: white;
    padding: 16px 48px;
    color: black;
    border: 2px solid #000000;
    border-radius: 70px;
    box-shadow: 5px 5px 1px 1px #D8D4F2;
}

.hero-text-section {
    margin-top: 92px;
}

.hero-paragraph-container {
    display: flex;
    align-items: center;
}

.content-asolutly-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 144px;
}

.cycle-background {
    background-image: url(/media/textures/Vector.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hero-mockup {
    position: relative;
    height: auto;
    height: 560px;
    width: 400px;
}

.mockup {
    position: absolute;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.mockup-star-top {
    position: absolute;
    z-index: 3;
    width: 91px;
    height: auto;
    right: -50px;
}

.mockup-star-bottom {
    position: absolute;
    z-index: 3;
    width: 91px;
    height: auto;
    bottom: 50px;
    left: -50px;
}

.mockup-bg {
    position: absolute;
    width: 100%;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.hero-word {
    padding: 0;
    margin: 0;
    position: relative;
    height: auto;
    width: auto;
}

.border-image {
    position: absolute;
    left: 0;
    top: 64px;
}

.first-section {
    height: auto;
}

.first-section-container {
    height: auto;
    width: 100%;
    background-color: #000000;
}

.top-text{
    padding-top: 24px;
    padding-bottom: 54px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    text-align: center;
    color: white;
    font-family: 'Tropiline Sans';
    font-style: normal;
    font-weight: 400;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 105px;
    width: 316px;
    height: 510px;
    margin: auto;
    text-align: center;
}

.about-zeina-img {
    position: absolute;
    width: 316px;
    margin: auto;
    z-index: 2;
}

.about-star-top {
    position: absolute;
    z-index: 3;
    width: 91px;
    height: auto;
    top: -10px;
    right: -100px;
}

.about-star-bottom {
    position: absolute;
    z-index: 3;
    width: 91px;
    height: auto;
    bottom: -10px;
    left: -100px;
}

.buttons-container {
    padding-top: 106px;
    padding-bottom: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-secondary {
    font-family: 'Tropiline Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 45px;
    text-decoration: none;
    background-color: transparent;
    padding: 2px 48px;
    color: white;
    border: 2px solid white;
    border-radius: 70px;
    transition: .3s;
}

.buttons-secondary:hover {
    font-family: 'Tropiline Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 45px;
    text-decoration: none;
    background-color: white;
    padding: 2px 48px;
    color:#F93460;
    border: 2px solid white;
    box-shadow: 5px 5px 1px 1px #F93460;
    border-radius: 70px;
    transition: .3s;
}

.about-buttons {
    margin: 0 18px;
}

.moving-text-1 {
    z-index: 1;
    top: 110px;
    position: absolute;
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    color: #F3EEEA;
    transform: rotate(-4.3deg);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    width: 100vw;
}

.moving-text-2 {
    z-index: 5;
    top: 210px;
    position: absolute;
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    color: #FC2F5D;
    transform: rotate(-4.3deg);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    width: 100vw;
}

.moving-text-3 {
    z-index: 1;
    top: 310px;
    position: absolute;
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 84px;
    color:  #D7D2F1;
    transform: rotate(-4.3deg);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    width: 100vw;
}

.about-text-image-section {
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: auto;
    display: block;
    overflow: hidden;
}